<style>

	h1 h2 h3{
		margin-left : 20px;
	}

	.first {
		font-size:20px;
		font-weight:bold;
	}
	.second {
		font-size:18px;
		font-weight:bold;
	}

	.third {
		font-size:16px;
		font-weight:bold;
	}

	.pagination {
	  display: inline-block;
	  text-align: center;
	}

	.pagination a {
	  color: black;
	  float: left;
	  padding: 8px 16px;
	  text-decoration: none;
	  transition: background-color .3s;
	  border: 1px solid #ddd;
	}

	.pagination a.active {
	  background-color: #707070;
	  color: white;
	  border: 1px solid #707070;
    font-weight:bold;
	}

	.pagination a:hover:not(.active) {background-color: #ddd;}

	.TrackList table {
		width: 1080px;
		border: 1px solid black;
		margin: 5px 10px 10px 10px;
	}

	.TrackList th, td {
		border: 1px solid black;
	}

	.RankingTable table{
		width: 960px;
		border: 1px solid black;
		text-align: center;
		margin: 5px 10px 10px 10px;
	}
	.RankingTable th, td {
		border: 1px solid black;
	}
  .UserRankingTable table{
    width: 600px;
    border: 1px solid black;
    text-align: center;
    margin: 5px 10px 10px 10px;
  }
  .UserRankingTable th, td{
    border: 1px solid black;
  }

	#loading{
		text-align: center;
	}

	.search{
		width:100%;
		text-align: center;
	}

	.searchcont{
		font-size: 20px;
		display: inline-block;
	}

	.topmenu ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	  position: fixed;
	  top: 0;
	  bottom: 10;
	  width: 100%;
	}

	.topmenu li {
	  float: left;
	}

	.topmenu li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	.topmenu li a:hover {
	  background-color: #111;
	}
  .LevelSearchRank{
    position:absolute;
    left: 0;
  }

	.LevelSearch optgroup, .LevelSearchRank optgroup{
		font-size:16px;
	}

	.LevelSearch select, .LevelSearchRank select{
		margin: 5px 10px 10px 10px;
		width: 200px;
		height: 30px;
		font-size:16px;
	}
  .RankingMenu{
    position:relative;
    width:1000px;
    margin:auto;
  }

  .RankingMenu td{
    border: none;
  }
  .RankingMenu table div{
    background: #E0E008;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding:5px 15px 5px 15px;
    font-size:19px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
  }

	.TrackBox {
		margin-left:10px;
    display: inline-block;
    border: 3px solid #808080;
    width: auto;
    height: auto;
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
    background-color: white;
    border-spacing:0px;
  }
  .img{
    width:100px;
    height:100px;
    display: block;
  }


  #TrackTitle {
    background: white;
    border: 5px solid #a0a0a0;
    width: 530px;
    height: 26px;
    border-radius: 10px;
    padding:5px 5px 5px 15px;
    font-size:19px;
    font-weight: bold;
  }

  #rcornersEXH1{
    background: #DD0000;
    width: auto;
    height: auto;
    border-radius: 10px 0px 0px 10px;
    padding:5px 15px 5px 15px;
    font-size:19px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
  }

  #rcornersEXH2{
    background: #EE0000;
    width: 105px;
    height: auto;
    border-radius: 0px 10px 10px 0px;
    padding:5px 25px 5px 15px;
    font-size:19px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
  }

  #rcornersMXM1, #rcornersINF1, #rcornersGRV1, #rcornersHVN1, #rcornersVVD1{
    width: auto;
    height: auto;
    border-radius: 10px 0px 0px 10px;
    padding:5px 15px 5px 15px;
    font-size:19px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
  }
  #rcornersMXM1{
  	background : #707070;
  }
  #rcornersINF1{
  	background : #CC00CC;
  }
  #rcornersGRV1{
  	background : #C25005;
  }
  #rcornersHVN1{
  	background : #0067CC;
  }
  #rcornersVVD1{
  	background : #C50141;
  }

  #rcornersMXM2, #rcornersINF2, #rcornersGRV2, #rcornersHVN2, #rcornersVVD2{
    width: 105px;
    height: auto;
    border-radius: 0px 10px 10px 0px;
    padding:5px 25px 5px 15px;
    font-size:19px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
  }
  #rcornersMXM2{
  	background : #808080;
  }
  #rcornersINF2{
  	background : #DD00DD;
  }
  #rcornersGRV2{
  	background : #D4600A;
  }
  #rcornersHVN2{
  	background : #0078DD;
  }
  #rcornersVVD2{
  	background : #D60152;
  }

  .DiffBoxEXH1{
    padding: 0px 0px 0px 10px;
    float: left;
    border: none;
  }
  .DiffBoxEXH1 a{
  	display:block;
　	width:100%;
  	height:100%;
  	text-decoration:none;
  	color : #ffffff;
  }
  .DiffBoxEXH2{
    padding: 0px 0px 0px 2px;
    float: left;
    border: none;
  }

  .DiffBoxMXM1{
    padding: 0px 2px 0px 0px;
    float: right;
    border: none;
  }

  .DiffBoxMXM2{
    padding: 0px 10px 0px 0px;
    float: right;
    border: none;
  }


  .TitleBox{
    padding:3px 10px 3px 10px;
    border: none;
  }
  .ImgBox{
    padding:0;
    border-right:3px solid #808080;
  }


</style>