{% extends 'layout.html' %}
 
{% block content %}

<h1 style="margin-left:10px;">About</h1>
<h2 style="margin-left:10px;">SDVX Ranking Info by Team WF</h2>
<h2 style="margin-left:10px;">Made by WF.HOWLS</h2>
<h2 style="margin-left:10px;">Contact - twitter : @howlingsoul</h2>

<ul style="margin-left:10px;">
	<li><h3> 2019.09.16 - 사이트 오픈</h3></li>
	<li><h3> 2019.09.17 - 유저 갱신 기능 추가</h3></li>
	<li><h3> 2019.09.19 - 곡명 검색 기능 추가</h3></li>
	<li><h3> 2019.09.19 - 레벨 검색 기능 추가</h3></li>
	<li><h3> 2019.09.20 - UI 변경 및 곡 리스트에서의 곡 자켓 표시</h3></li>
	<li><h3> 2019.09.20 - 리스트에 각 곡의 1위 닉네임 표기(동점일 경우 랜덤으로 표기)</h3></li>
	<li><h3> 2019.09.23 - Pagination 현재 페이지 표시, 자켓 이미지 로컬에서 출력</h3></li>
	<li><h3> 2019.09.24 - User Ranking 3개 항목 추가</h3></li>
</ul>

{% endblock %}