{% extends 'layout.html' %}
 
{% block content %}

<div>
      <h1 style="margin-left:10px;">Avgerage Lv.{{SearchLevel}} List</h1>
      <div class="LevelSearch">
        <select id="LevelSelect" name='LevelList' onchange="LevelSelect()">
          <optgroup>
            <option value=''>-- 레벨 선택 --</option>
            {% for elem in range(1,21) %}
              {% if elem|string == SearchLevel %}
                <option value='Lv.{{elem}}' selected>Lv.{{elem}}</option>
              {% else %}
                <option value='Lv.{{elem}}'>Lv.{{elem}}</option>
              {% endif %}
            {% endfor %}
          </optgroup>
        </select>
      </div>
      {% for Track in AvgList %}
      <table class="TrackBox">
        <tr>
          {% if Track[3] != 'EXH' %}
          <td class="ImgBox" rowspan='2'><img class="img" src="{{url_for('static',filename='img/Jacket/'+(((Track[1]|int)-1000)|string).zfill(4)+Track[3][0].lower()+'.jpg')}}"></td>
          {% else %}
          <td class="ImgBox" rowspan='2'><img class="img" src="{{url_for('static',filename='img/Jacket/'+(((Track[1]|int)-1000)|string).zfill(4)+'e.jpg')}}"></td>
          {% endif %}
          <td class="TitleBox" colspan='4'>
            {% if Track[2]|length > 27 %}
            <div id="TrackTitle">{{Track[2][:27]}}...</div>
            {% else %}
            <div id="TrackTitle">{{Track[2]}}</div>
            {% endif %}
          </td>
        </tr>
        <tr>
          {% if Track[3] == 'EXH' %}
            <td class="DiffBoxEXH1"><div id="rcornersEXH1" 
              onclick="RankingSelect({{Track[1]}},'EXH')">
            EXH Lv.{{SearchLevel}}
            </a></div></td>
            <td class="DiffBoxEXH2"><div id="rcornersEXH2" 
              onclick="RankingSelect({{Track[1]}},'EXH')">{{Track[0]}}</div></td></a>
            {% else %}
            <td class="DiffBoxEXH1"><div id="rcorners{{Track[3]}}1" 
              onclick="RankingSelect({{Track[1]}},'{{Track[3]}}')">{{Track[3]}} Lv.{{SearchLevel}}</div></td>
            <td class="DiffBoxEXH2"><div id="rcorners{{Track[3]}}2" 
              onclick="RankingSelect({{Track[1]}},'{{Track[3]}}')">{{Track[0]}}</div></td>
            
          {% endif %}
      </table>
      <br/>
      {% endfor %}
</div>
<br/>

<div class="pagination">
    {% for i in AllTrack %}
    {% if loop.index|int == page|int %}
    <a href='{{url_for("AvgTrackList",level=SearchLevel,page=loop.index)}}' class="active">{{loop.index}}</a>
    {% else %}
    <a href='{{url_for("AvgTrackList",level=SearchLevel,page=loop.index)}}'>{{loop.index}}</a>
    {% endif %}
    {% endfor %}
</div>

<script>
function RankingSelect(tid, diff){
    location.href="/RankingPage?tid="+tid+"&diff="+diff;
 }
 function LevelSelect(){
    var SelectedLevel = document.getElementById("LevelSelect");
    var SelectedText = SelectedLevel.options[SelectedLevel.selectedIndex].value;
    location.href='/AvgTrackList?type=5&level='+SelectedText.substr(3,);
 }

  var input = document.getElementById("title");
  input.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      document.getElementById("searchtitle").click();
    }
  });

</script>

{% endblock %}