{% extends 'layout.html' %}
 
{% block content %}

<div>
      <h1>SDVX Track List</h1>
      <div class="search">
        <div class="searchcont">
          Title : 
        </div>
        <input class="searchcont" type="text" id="title" value="{{SearchTitle}}">
        <input class="searchcont" type="button" value="search" id="searchtitle"
        onclick="search_click()">
      </div>
      <br/>
      <div class="TrackList">
        <table>
          <th>Track Title</th>
          <th>NOV</th>
          <th>ADV</th>
          <th>EXH</th>
          <th>MXM</th>
          <th>INF</th>
          <th>GRV</th>
          <th>HVN</th>
          <th>VVD</th>
          {% for Track in SearchTrackList %}
          <tr>
              {% for elem in Track[1:] %}
                {% if elem == None %}
                  <td>-</td>
                {% elif elem.isdigit() %}
                  <td><a href='/RankingPage.html?tid={{Track[0]}}&diff={{DiffList[loop.index-2]}}' target="_blank">{{elem}}</a></td>
                {% else %}
                  <td>{{elem}}</td>
                {% endif %}
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
</div>
<br/>

<!--
<div class="pagination">
    <a href="#">&laquo;</a>
    {% for i in AllTrack %}
    <a href='/?page={{loop.index}}'>{{loop.index}}</a>
    {% endfor %}
    <a href="#">&raquo;</a>
</div>
-->

<script>
  function search_click() {
    var searchtext = document.getElementById("title").value
    //alert(encodeURIComponent(searchtext));
   location.href='/TrackSearch?title='+encodeURIComponent(searchtext);
  }

  var input = document.getElementById("title");
  input.addEventListener("keyup", function(event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      document.getElementById("searchtitle").click();
    }
  });

</script>

{% endblock %}