{% extends 'layout.html' %}
 
{% block content %}
<div>
      <h1>SDVX Track List</h1>
      <div class="TrackList">
        <table class="TrackList">
          <th>Track Title</th>
          <th>NOV</th>
          <th>ADV</th>
          <th>EXH</th>
          <th>MXM</th>
          <th>INF</th>
          <th>GRV</th>
          <th>HVN</th>
          <th>VVD</th>
          {% for Track in PageTrack %}
          <tr>
              {% for elem in Track[1:] %}
                {% if elem == None %}
                  <td>-</td>
                {% elif elem.isdigit() %}
                  <td><a href='/RankingPage.html?tid={{Track[0]}}&diff={{DiffList[loop.index-2]}}' target="_blank">{{elem}}</a></td>
                {% else %}
                  <td>{{elem}}</td>
                {% endif %}
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
</div>

<div class="pagination">
    <a href="#">&laquo;</a>
    {% for i in AllTrack %}
    <a href='/?page={{loop.index}}'>{{loop.index}}</a>
    {% endfor %}
    <a href="#">&raquo;</a>
</div>

{% endblock %}