<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
    <title>SDVXRanking</title>
  </head>
 
  <body>
      <div class="topmenu">
        <ul>
          <li><a href={{url_for('MainIndex')}}>Track List</a></li>
          <li><a href="{{url_for('UserInfo')}}">User Info & Update</a></li>
          <li><a href="{{url_for('About')}}">About</a></li>
        </ul>
      </div>
    <br /><br /><br />
      <!-- Main content block -->
      {% block content %}{% endblock %}
  </body>
</html>