{% extends 'layout.html' %}
 
{% block content %}
<div>
      <h1>SDVX RankingPage</h1>
      <div align="center"><img src="http://anzuinfo.me/images/track_img/{{(((tid|int)-1000)|string).zfill(4)+diff[0].lower()}}.jpg" width="300" height="300"><div>
    
      <div align="center"><h1>{{title}} {{diff}} Lv.{{TrackLv}}</h1></div>
      <div class="RankingTable">
      <table>
        <th>Rank</th><th>Name</th><th>Score</th><th>Grade</th><th>Complete</th>

        {% for User in sortedRankList %}
          <tr>
            <td>{{UserNameList[loop.index0][0]}}</td>
            <td>{{UserNameList[loop.index0][1]}}</td>
            <td>{{User[1]}}</td>
            <td><img src="{{url_for('static',filename='img/GradeCompleteImg/'+GradeImgDict[User[2]])}}"></td>
            <td><img src="{{url_for('static',filename='img/GradeCompleteImg/'+CompleteImgDict[User[3]])}}"></td>
          </tr>
        {% endfor %}

        </table>
      </div>
{% endblock %}